
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


html, body{
  overflow-x: hidden;
}
body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
    background-image: url("jacksImages/whiteVector.jpg");
    z-index: -2;
  }
  .topnav {
    background-color: rgb(32, 26, 58);
    position: fixed;
    width: 100%;
    z-index: 5;
    padding-bottom: 5px;
  }
  @media (min-width: 1000px){
    .topnav{
      font-size: 1em;
      display: flex;
      height: 60px;
      color: rgb(252, 250, 250);
      font-family: 'Oswald', sans-serif;
    }    
  }
  .scrolled-topnav{
    overflow: hidden;
    background-color: rgba(67, 61, 100, 0.95);
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  .header-logo{
    height: 40px;
    width: auto;
  }
  .scrolled-logo{
    height: 40px;
    width: auto;
  }
  #myLinks {
    display: none;
  }
  @media (min-width: 1000px){
    #myLinks{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      align-content: center;
      width: 800px;
      height: 50px;
      position: relative;
      z-index: 6;
      padding: 0px;
      margin: 25px 0px 0px 0px;
    }    
  }
  @media (min-size: 1000px){
    .desktop-navbar{
      color: #fff;
      z-index: 6;
    }    
  }
  .scrolled-topnav #myLinks {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
  }  
  .topnav a {
    color: white;
    padding: 10px 10px 2px 10px;
    text-decoration: none;
    font-size: 2em;
    display: flex;
  }
  @media (min-width: 1000px){
    .topnav a{
      position: relative;
      text-align: center;
      padding: 0px;
      z-index: 6;
      font-size: 1.8em;
    }    
  }
  .scrolled-topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.5em;
    display: flex;
  }  
  .topnav .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: auto;
    z-index: 5;
  }
  @media (min-width: 1000px){
    .topnav .icon{
      display: none;
    }    
  }
  .scrolled-topnav .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: auto;
    z-index: 5;
  }
  #navbar-toggle{
    height: 60px;
    width: auto;
    margin-top: -10px;
    margin-right: -10px;
  }
  .active {
    height: 40px;
    width: auto;
  }
  @media (min-width: 1000px){
    .active{
      margin: 15px 30px 10px 10px;
    }
  }
  .toggle-container{
    margin-right: 12.5px;
    display: flex;
    width: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 1000px){
    .toggle-container{
      display: none;
    }    
  }
  .toggle{
    width: 15px;
    height: 20px;
    display: flex;
    padding-left: -15px;
    transform: rotate(90deg);
  }
  @media (min-width: 1000px){
    .toggle{
      display: none;
    }    
  }
  .dropdown1{
    width: 60vw;
    display: flex;
    padding-bottom: 0%;
  }
  @media (min-width: 1000px){
    .dropdown1{
      width: 114.285px !important;
      z-index: 7;
      justify-content: center;
      align-items: center;
      align-content: center;
    }  
    .dropdown1:hover{
      background-color: rgb(221, 134, 21);
      padding: 5px;
    }
  }
  #deals{
    width: 100%;    
    background-color: rgb(221, 134, 21);
    padding-bottom: 10px;
  }
  @media (min-width: 1000px){
    #deals{
      width: 150px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: 30px;
      margin-top: -5px;
    }
    #deals:hover{
      font-size: 2em;
    }
  }
  .dropdown2{
    font-size: 1.5em !important;
    width: 100vw;
    display: block;
  }
  @media (min-width: 1000px){
    .dropdown2{
      display: none;
      width: auto;
      justify-content: flex-start;
    }    
    .dropdown2:hover{
      background-color: rgb(221, 134, 21);
      padding: 5px 5px 2px 5px;
    }
  }
  .sub-menu{
    background-image: linear-gradient(to bottom, rgba(85,81,94,1), rgba(285,81,94,0));
    width: 100%;
    margin-bottom: 10px;
    z-index: 5;
  }
  @media (min-width: 1000px){
    .sub-menu{
      display: none;
      width: 125px;
      padding: 5px 5px 0px 5px;
      background-image: none;
      background-color: rgb(12, 2, 48);
    }    
  }
  .desktop-nav-hover{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (min-width: 1000px){
    .desktop-nav-hover{
      width: 114.285px;
      justify-content: space-between;
    }
    .desktop-nav-hover:hover .sub-menu{
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }
  #desktop-location{
    display: none;
  }
  @media (min-width: 1250px){
    #desktop-location{
      display: flex;
      flex-direction: row;
      align-content: space-between;
      flex-wrap: nowrap;
      position: absolute;
      margin: 0px;
      z-index: 6;
      right: 5px;
      top: 17.5px;
      font-size: 1em;
      width: 200px;
    }
  }
  #desktop-location-img{
    display: none;
  }
  @media (min-width: 1250px){
    #desktop-location-img{
      display: flex;
      height: 40px;
      width: auto;
      z-index: 6;
    }
  }
  #desktop-navbar-h2{
    display: none;
  }
  @media (min-width: 1250px){
    #desktop-navbar-h2{
      display: flex;
      margin: 0px;
      position: relative;
      left: 10px;
      bottom: 0px;
    }
  }

/* Main */

main{
  height: 400px;
  width: auto;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;  
  overflow: hidden;
  background-color: #000;
}
@media (min-width: 450px){
  main{
    height: 400px;
  }
}
@media (min-width: 500px){
  main{
    height: 450px;
  }
}
@media (min-width: 700px){
  main{
    height: 500px;
  }
}
@media (min-width: 900px){
  main{
    height: 700px;
  }
}
@media (min-width: 1250px){
  main{
    height: 880px;
  }
}
.main-picture{
  height: 400px;
  margin-top: 30px;
  margin-left: -100px;
  z-index: 0;
}
@media (min-width: 400px){
  .main-picture{
    margin-left: -220px;
  }
}
@media (min-width: 450px){
  .main-picture{
    margin-left: -290px;
  }
}
@media (min-width: 500px){
  .main-picture{
    height: 450px;
    margin-left: -300px;
  }
}
@media (min-width: 700px){
  .main-picture{
    height: 500px;
    margin-left: -200px;
  }
}
@media (min-width: 900px){
  .main-picture{
    height: 700px;
    margin-left: -400px;
  }
}
@media (min-width: 1100px){
  .main-picture{
    margin-left: -100px;
  }
}
@media (min-width: 1250px){
  .main-picture{
    height: 880px;
    margin-left: 0px;
  }
}
@media (min-width: 1700px){
  .main-picture{
    margin-left: 0px;
  }
}
.slogan {
  display: flex;
  position: absolute;
  margin: 120px 0px 0px 60px;
  height: 150px;
  width: auto;
  z-index: 3;
}
@media (min-width: 300px) {
  .slogan {
    margin: 120px 0px 0px 70px;
  }
}
@media (min-width: 325px) {
  .slogan {
    margin: 120px 0px 0px 80px;
  }
}
@media (min-width: 350px) {
  .slogan {
    margin: 120px 0px 0px 100px;
  }
}
@media (min-width: 400px) {
  .slogan {
    margin: 100px 0px 0px 100px;
    height: 200px;
  }
}
@media (min-width: 600px) {
  .slogan {
    margin: 100px 0px 0px 160px;
    height: 200px;
  }
}
@media (min-width: 700px) {
  .slogan {
    margin: 100px 0px 0px 210px;
    height: 200px;
  }
}
@media (min-width: 900px) {
  .slogan {
    margin: 100px 0px 0px 270px;
    height: 400px;
  }
}
@media (min-width: 1100px) {
  .slogan {
    margin: 100px 0px 0px 370px;
  }
}
@media (min-width: 1300px) {
  .slogan {
    margin: 150px 0px 0px 500px;
  }
}
.fun-is-awesome{
  display: flex;
  position: absolute;
  width: 70px;
  height: 130px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 250px;
  margin-left: 200px;
  font-family: 'Permanent Marker', sans-serif;    
  font-size: 20px;
  z-index: 2;
  background: -webkit-linear-gradient(rgb(241, 148, 8), rgb(248, 53, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 350px){
  .fun-is-awesome{
    margin-top: 180px;
    margin-left: 240px;
    font-size: 32px;
    height: 180px;
    width: 100px;
  }
}
@media (min-width: 400px){
  .fun-is-awesome{
    margin-left: 275px;
  }
}
@media (min-width: 450px){
  .fun-is-awesome{
    margin-top: 70px;
    margin-left: 210px;
    font-size: 2.75em;
  }
}
@media (min-width: 500px){
  .fun-is-awesome{
    margin-top: 70px;
    margin-left: 10px;
    font-size: 3.25em;
  }
}
@media (min-width: 700px){
  .fun-is-awesome{
    margin-top: 60px;
    margin-left: 40px;
    font-size: 4.25em;
  }
}
@media (min-width: 700px){
  .fun-is-awesome{
    display: none;
    margin-top: 60px;
    margin-left: 40px;
    font-size: 4.25em;
  }
}

/* Construction Section */

  .construction{
    margin: 10px 0px 0px 0px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  @media (min-width: 600px){
      .construction{
          margin: 30px 0px 0px 0px;
      }
  }
  .announced-location-h2{
    font-family: 'Permanent Marker', sans-serif;    
    font-size: 36px;
    z-index: 2;
    margin: 0px 0px 0px 0px;
    width: 100%;
    text-align: center;
    background: -webkit-linear-gradient(rgb(87, 2, 104), rgb(187, 108, 211));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (min-width: 350px){
    .announced-location-h2{
          font-size: 42px;
      }
  }
  @media (min-width: 400px){
    .announced-location-h2{
          font-size: 46px;
      }
  }
  @media (min-width: 450px){
    .announced-location-h2{
          margin-bottom: 10px;
      }
  }
  @media (min-width: 600px){
    .announced-location-h2{
          margin-bottom: 20px;
          font-size: 60px;
      }
  }
  .announced-location-p{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    width: 70%;
    padding: 0px 0px 0px 0px; 
    margin: 5px 0px 5px 0px;
  }
  @media (min-width: 600px){
      .announced-location-p{
        width: 500px;
      }
  }
  .p-highlight{
      color: rgb(187, 108, 211);
  }
  .button{
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 60px;
      width: 190px;
      margin: 25px 0px 30px 0px;
      border-radius: 1.5px;
      background-image: linear-gradient(to right, rgb(87, 2, 104), rgb(187, 108, 211));
  }
  @media (min-width: 400px){
    .button{
      margin: 35px 0px 15px 0px;
    }
  }
  .button-a{
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      color: #fff;
      text-decoration: none;
  }
  @media (min-width: 600px) {
    .button-a:hover {
      font-size: 23px;
    }
  }

  /* Experiences Section */
  
  .experiences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    height: auto;
    margin: 20px 0px 0px 0px;
  }
  @media (min-width: 400px){
    .experiences{
      width: 100vw;
    }
  }
  @media (min-width: 500px){
    .experiences{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: flex-start;
    }
  }
  @media (min-width: 1100px){
    .experiences{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      margin: 100px 0px 0px 0px;
    }
  }
  .experiences-h2{
    font-family: 'Permanent Marker', sans-serif;    
    font-size: 30px;
    width: 100vw;
    z-index: 2;
    color: rgb(39, 33, 41);
    text-align: center;
    margin: 0px 0px 0px 0px;
    display: none;
  }
  @media (min-width: 400px){
    .experiences-h2{
      font-size: 36px;
    }
  }
  @media (min-width: 450px){
    .experiences-h2{
      font-size: 38px;
    }
  }
  @media (min-width: 500px){
    .experiences-h2{
      font-size: 48px;
    }
  }
  @media (min-width: 1100px){
    .experiences-h2{
      font-size: 64px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-self: center;
      width: 100vw;
      text-align: center;
    }
  }
  .experiences-container{
    width: 280px;
    height: 671.666px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
  }
  @media (min-width: 300px){
    .experiences-container{
      width: 300px;
      height: 718.33px !important;
    }
  }
  @media (min-width: 400px){
    .experiences-container{
      width: 380px;
      height: 905px !important;
    }
  }
  @media (min-width: 500px){
    .experiences-container{
      width: 500px;
      height: 1188.33px !important;
    }
  }
  @media (min-width: 1100px){
    .experiences-container{
      margin: 20px 0px 0px 0px;
      width: 995px;
      height: 668.333px !important;
      justify-content: space-between;
    }
  }
  @media (min-width: 1245px){
    .experiences-container{
      width: 1245px;
      height: 500px !important;
      justify-content: space-between;
    }
  }
  .attraction{
    width: 137.5px;
    height: 91.666px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
  }
  @media (min-width: 300px){
    .attraction{
      width: 147.5px;
      height: 98.3333px;
    }
  }
  @media (min-width: 400px){
    .attraction{
      width: 187.5px;
      height: 125px;
      display: flex;
    }
  }
  @media (min-width: 500px){
    .attraction{
      width: 245px;
      height: 163.333px;
      display: flex;
    }
  }
  .experience-img{
    width: 137.5px;
    height: 91.666px;
    overflow: hidden;
  }
  @media (min-width: 300px){
    .experience-img{
      width: 147.5px;
      height: 98.3333px;
    }
  }
  @media (min-width: 400px){
    .experience-img{
      width: 187.5px;
      height: 125px;
    }
  }
  @media (min-width: 500px){
    .experience-img{
      width: 245px;
      height: 163.333px;
    }
  }
  .attraction-link{
    color: #fff;
    background-image: linear-gradient(to right, rgb(139, 85, 150), rgb(192, 78, 226));
    font-size: 12px;
    padding: 2.5px;
    text-decoration: none;
    z-index: 2;
    position: absolute;
    margin-top: 70px;
    font-family: 'Oswald', sans-serif;
  }
  @media (min-width: 400px){
    .attraction-link{
      font-size: 16px;
      margin-top: 90px;
      padding: 5px;
    }
  }
  @media (min-width: 500px){
    .attraction-link{
      font-size: 20px;
      margin-top: 120px;
    }
  }
  @media (min-width: 600px) {
    .attraction-link:hover {
      font-size: 22px;
    }
  }
  #odd-number-experience{
    margin-left: 25%;
  }
  @media (min-width: 1250px){
  
    #desktop-last-row-first{
      margin-left: 125px;
    }
  }
  @media (min-width: 1100px){
  
    #desktop-last-row-third{
      margin-left: 250px;
    }
  }
  @media (min-width: 1250px){
  
    #desktop-last-row-third{
      margin-left: 0px;
    }
  }
  @media (min-width: 1100px){
  
    #desktop-last-row-last{
      margin-right: 250px;
    }
  }
  @media (min-width: 1250px){
  
    #desktop-last-row-last{
      margin-right: 125px;
    }
  }

/* Apply Now Section */

  .apply-now{
    margin: 10px 0px 0px 0px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  @media (min-width: 600px){
      .apply-now{
          margin: 30px 0px 0px 0px;
      }
  }

/* Footer */

  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #fff;
    align-content: center;
    height: auto;
    width: 100vw;
    margin: 30px 0px 0px 0px;
  }
  @media (min-width: 1100px){
    .info{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: #fff;
      align-content: center;
      align-items: center;
      height: 280px;
      margin: 100px 0px 0px 0px;
    }
  }
.footer-column{
  align-self: center;
}
@media (min-width: 1100px){
  .footer-column{
    align-self: center;
    align-self: flex-start;
  }
}
#footer-logo{
  margin-top: 30px;
}
.footer-h4{
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
.footer-p{
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
.footer-a{
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color: #000;
}
.social-media-icons-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  height: 63px;
  margin-left: 63px;
  margin-top: 15px;
}
#facebook-icon{
  align-self: flex-start;
}
#instagram-icon{
  align-self: flex-end;
}
#copyright{
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}
.footer-border{
  position: absolute;
  height: 730px;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(to right, rgb(177, 6, 245), rgb(202, 14, 155));
}
@media (min-width: 1100px){
  .footer-border{
    height: 290px;
  }
}
