
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


html, body{
  overflow-x: hidden;
}
body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
    background-image: url("jacksImages/whiteVector.jpg");
    z-index: -2;
  }
  .topnav {
    background-color: rgb(32, 26, 58);
    position: fixed;
    width: 100%;
    z-index: 5;
    padding-bottom: 5px;
  }
  @media (min-width: 1000px){
    .topnav{
      font-size: 1em;
      display: flex;
      height: 60px;
      color: rgb(252, 250, 250);
      font-family: 'Oswald', sans-serif;
    }    
  }
  .scrolled-topnav{
    overflow: hidden;
    background-color: rgba(67, 61, 100, 0.95);
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  .header-logo{
    height: 40px;
    width: auto;
  }
  .scrolled-logo{
    height: 40px;
    width: auto;
  }
  #myLinks {
    display: none;
  }
  @media (min-width: 1000px){
    #myLinks{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      align-content: center;
      width: 800px;
      height: 50px;
      position: relative;
      z-index: 6;
      padding: 0px;
      margin: 25px 0px 0px 0px;
    }    
  }
  @media (min-size: 1000px){
    .desktop-navbar{
      color: #fff;
      z-index: 6;
    }    
  }
  .scrolled-topnav #myLinks {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
  }  
  .topnav a {
    color: white;
    padding: 10px 10px 2px 10px;
    text-decoration: none;
    font-size: 2em;
    display: flex;
  }
  @media (min-width: 1000px){
    .topnav a{
      position: relative;
      text-align: center;
      padding: 0px;
      z-index: 6;
      font-size: 1.8em;
    }    
  }
  .scrolled-topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.5em;
    display: flex;
  }  
  .topnav .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: auto;
    z-index: 5;
  }
  @media (min-width: 1000px){
    .topnav .icon{
      display: none;
    }    
  }
  .scrolled-topnav .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: auto;
    z-index: 5;
  }
  #navbar-toggle{
    height: 60px;
    width: auto;
    margin-top: -10px;
    margin-right: -10px;
  }
  .active {
    height: 40px;
    width: auto;
  }
  @media (min-width: 1000px){
    .active{
      margin: 15px 30px 10px 10px;
    }
  }
  .toggle-container{
    margin-right: 12.5px;
    display: flex;
    width: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 1000px){
    .toggle-container{
      display: none;
    }    
  }
  .toggle{
    width: 15px;
    height: 20px;
    display: flex;
    padding-left: -15px;
    transform: rotate(90deg);
  }
  @media (min-width: 1000px){
    .toggle{
      display: none;
    }    
  }
  .dropdown1{
    width: 60vw;
    display: flex;
    padding-bottom: 0%;
  }
  @media (min-width: 1000px){
    .dropdown1{
      width: 114.285px !important;
      z-index: 7;
      justify-content: center;
      align-items: center;
      align-content: center;
    }  
    .dropdown1:hover{
      background-color: rgb(221, 134, 21);
      padding: 5px;
    }
  }
  #deals{
    width: 100%;    
    background-color: rgb(221, 134, 21);
    padding-bottom: 10px;
  }
  @media (min-width: 1000px){
    #deals{
      width: 150px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: 30px;
      margin-top: -5px;
    }
    #deals:hover{
      font-size: 2em;
    }
  }
  .dropdown2{
    font-size: 1.5em !important;
    width: 100vw;
    display: block;
  }
  @media (min-width: 1000px){
    .dropdown2{
      display: none;
      width: auto;
      justify-content: flex-start;
    }    
    .dropdown2:hover{
      background-color: rgb(221, 134, 21);
      padding: 5px 5px 2px 5px;
    }
  }
  .sub-menu{
    background-image: linear-gradient(to bottom, rgba(85,81,94,1), rgba(285,81,94,0));
    width: 100%;
    margin-bottom: 10px;
    z-index: 5;
  }
  @media (min-width: 1000px){
    .sub-menu{
      display: none;
      width: 125px;
      padding: 5px 5px 0px 5px;
      background-image: none;
      background-color: rgb(12, 2, 48);
    }    
  }
  .desktop-nav-hover{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (min-width: 1000px){
    .desktop-nav-hover{
      width: 114.285px;
      justify-content: space-between;
    }
    .desktop-nav-hover:hover .sub-menu{
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }
  #desktop-location{
    display: none;
  }
  @media (min-width: 1250px){
    #desktop-location{
      display: flex;
      flex-direction: row;
      align-content: space-between;
      flex-wrap: nowrap;
      position: absolute;
      margin: 0px;
      z-index: 6;
      right: 5px;
      top: 17.5px;
      font-size: 1em;
      width: 200px;
    }
  }
  #desktop-location-img{
    display: none;
  }
  @media (min-width: 1250px){
    #desktop-location-img{
      display: flex;
      height: 40px;
      width: auto;
      z-index: 6;
    }
  }
  #desktop-navbar-h2{
    display: none;
  }
  @media (min-width: 1250px){
    #desktop-navbar-h2{
      display: flex;
      margin: 0px;
      position: relative;
      left: 10px;
      bottom: 0px;
    }
  }

/* Slideshow */
  
  .slideshow{
    margin-top: 50px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  @media (min-width: 800px){
    .slideshow{
        top: 300px;
    }
  }
  .slideshow-container{
      width: 400px;
      height: 267px;
      padding: 0px;
      overflow: hidden;
      z-index: 2;
  }
  @media (min-width: 400px){
    .slideshow-container{
      height: 300px;
      width: 450px;
    }
  }
  @media (min-width: 450px){
    .slideshow-container{
      height: 333.334px;
      width: 500px;
    }
  }
  @media (min-width: 600px){
    .slideshow-container{
      height: 400px;
      width: 600px;
    }
  }
  @media (min-width: 800px){
    .slideshow-container{
        margin-top: 80px;
    }
  }
  @media (min-width: 900px){
    .slideshow-container{
        width: 800px;
        height: 533px;
    }
  }
  .slideshow-picture{
    width: 400px;
    height: 266.667px;
    z-index: 2;
    margin-top: 0px;
  }
  @media (min-width: 400px){
    .slideshow-picture{
        width: 450px;
        height: 300px;
        margin-left: 0px;
        height: auto;
        z-index: 2;  
    }
  }
  @media (min-width: 450px){
    .slideshow-picture{
        width: 500px;
        height: 333.333px;
        margin-left: 0px;
        height: auto;
        z-index: 2;  
    }
  }
  @media (min-width: 600px){
    .slideshow-picture{
        width: 600px;
        height: 400px;
        margin-left: 0px;
        height: auto;
        z-index: 2;  
    }
  }
  @media (min-width: 900px){
    .slideshow-picture{
        width: 800px;
        height: 533.333px;
    }
  }

/* Package Selection */

.package-selection{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#tagline{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: rgb(43, 39, 44);
    margin: 10px 0px 0px 0px;
}
@media (min-width: 500px){
  #tagline{
    margin: 40px 0px 0px 0px;
  }
}
#package-h2{
    font-family: 'Permanent Marker', sans-serif;    
    font-size: 28px;
    color: rgb(95, 37, 191);
    margin: 10px 0px 0px 0px;
    width: 100%;
    text-align: center;
}
@media (min-width: 350px){
    #package-h2{
      font-size: 32px;
    }
}
@media (min-width: 500px){
    #package-h2{
      font-size: 38px;
    }
}
.description-p{
  font-size: 16px;
  margin: 10px 0px 0px 0px;
}
@media (min-width: 350px){
    .description-p{
      font-size: 20px;
    }
}
.package-button-container{
    margin: 20px 0px 0px 0px;
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
@media (min-width: 300px){
    .package-button-container{
        width: 300px;
        margin: 40px 0px 0px 0px;
    }
}
@media (min-width: 500px){
    .package-button-container{
        width: 380px;
    }
}
.package-button-selected{
    height: 60px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(43, 39, 44);
}
@media (min-width: 300px){
    .package-button-selected{
        width: 142.5px;
    }
}
@media (min-width: 500px){
    .package-button-selected{
        width: 180px;
        height: 80px;
    }
}
.package-button-unselected{
    height: 60px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
@media (min-width: 300px){
    .package-button-unselected{
        width: 142.5px;
    }
}
@media (min-width: 500px){
    .package-button-unselected{
        width: 180px;
        height: 80px;
    }
}
#fun-in-the-sun-package{
    background-image: linear-gradient(to right, rgb(42, 51, 177), rgb(95, 37, 191));
}
#full-sail-package{
    background-image: linear-gradient(to right, rgb(95, 37, 191), rgb(189,23,204));
}
.package-button-p{
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    color: #fff;
}
@media (min-width: 500px){
  .package-button-p{
    font-size: 36px;
  }
}
@media (min-width: 900px){
  .package-button-p:hover {
      font-size: 38px;
      cursor: pointer;
  }
}
.package-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin: 0px 5px 0px 5px;
}
.package-list-item{
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: #fff;
}
@media (min-width: 500px){
  .package-list-item{
    font-size: 22px;
    margin: 5px 0px 0px 0px;
  }
}
.package-list-span{
    font-size: 20px;
}
.package-div-displayed{
    margin-top: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(42, 51, 177), rgb(189, 23, 204));
}
@media (min-width: 600px){
  .package-div-displayed{
    width: 480px;
    margin: 40px 0px 0px 0px
  }
}
.package-div-hidden{
    display: none;
}
.package-div-h3{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 28px;
    color: #fff;
    margin: 10px 0px 0px 0px;
}
@media (min-width: 500px){
  .package-div-h3{
    font-size: 34px;
    margin: 30px 0px 0px 0px;
  }
}
.package-div-p{
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 0px 5px 0px 10px;
}
@media (min-width: 500px){
  .package-div-p{
    font-size: 24px;
  }
}
.package-book-now{
    height: 60px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1px;
    margin: 0px 0px 20px 0px;
}
@media (min-width: 500px){
  .package-book-now{
    height: 80px;
    width: 180px;
    margin: 10px 0px 30px 0px;
  }
}
.package-book-a{
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    color: rgb(43, 39, 44);
}
@media (min-width: 500px){
  .package-book-a{
    font-size: 36px;
  }
}
@media (min-width: 900px) {
  .package-book-a:hover {
      font-size: 38px;
  }
}

/* Birthday FAQs */

.birthday-faqs{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#birthday-faq-box{
    margin: 20px 0px 10px 0px;
    height: 60px;
    width: 150px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(42, 51, 177), rgb(189, 23, 204));
}
@media (min-width: 500px){
  #birthday-faq-box{
    height: 80px;
    width: 180px;
    margin: 30px 0px 30px 0px;
  }
}
.birthday-faq-a{
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    color: #fff;
}
@media (min-width: 500px){
  .birthday-faq-a{
    font-size: 28px;
  }
}
@media (min-width: 900px){
  .birthday-faq-a:hover {
    font-size: 30px;
  }
}

/* Blogs */

.blogs {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.blog-h2 {
  font-family: 'Permanent Marker', sans-serif;    
  font-size: 28px;
  color: rgb(95, 37, 191);
  margin: 10px 0px 0px 0px;
  width: 100%;
  text-align: center;
}

.blog-container {
  display: none;
}

.blog-container-shown {
  width: 80%;
  height: auto;
}

.blog-pic {
  width: 100%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: rgb(115.5,37,191);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}

.to-article {
  text-decoration: underline;
  color: rgb(115.5,37,191);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Footer */

  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #fff;
    height: auto;
    width: 100vw;
    margin: 30px 0px 0px 0px;
  }
  @media (min-width: 1100px){
    .info{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: #fff;
      align-content: center;
      align-items: center;
      height: 280px;
      margin: 100px 0px 0px 0px;
    }
  }
  .footer-column{
    align-self: center;
  }
  @media (min-width: 1100px){
    .footer-column{
      align-self: center;
      align-self: flex-start;
    }
  }
  #footer-logo{
    margin-top: 30px;
  }
  .footer-h4{
    font-size: 1.7em;
    font-family: 'Oswald', sans-serif;
  }
  .footer-p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
  }
  .footer-a{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #000;
  }
  .social-media-icons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    height: 63px;
    margin-left: 63px;
    margin-top: 15px;
  }
  #facebook-icon{
    align-self: flex-start;
  }
  #instagram-icon{
    align-self: flex-end;
  }
  #copyright{
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    margin-top: 15px;
  }
  .footer-border{
    align-self: flex-start;
    margin: -5px 0px 0px 0px;
    height: 5px;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(to right, rgb(4, 3, 53), rgb(60, 23, 196));
  }
  @media (min-width: 1100px) {
    .footer-border {
      position: absolute;
      align-self: flex-start;
      margin: -5px 0px 0px 0px;
      height: 5px;
      width: 100%;
      z-index: -1;
    }
  }
  .bottom-footer-border {
    margin: 0px 0px 0px 0px;
    height: 20px;
    width: 100%;
    z-index: -1;
    background-color: #fff;
  }
  @media (min-width: 1100px) {
    .bottom-footer-border {
      position: absolute;
      align-self: flex-end;
      margin: 20px 0px 0px 0px;
      height: 20px;
      width: 100%;
      z-index: -1;
      background-color: #fff;
    }
  }