
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300&display=swap');


html, body{
  overflow-x: hidden;
}
body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    z-index: -2;
  }
  .topnav {
    background-color: rgb(32, 26, 58);
    position: fixed;
    width: 100%;
    z-index: 5;
    padding-bottom: 5px;
  }
  @media (min-width: 1000px){
    .topnav{
      font-size: 1em;
      display: flex;
      height: 60px;
      color: rgb(252, 250, 250);
      font-family: 'Oswald', sans-serif;
    }    
  }
  .scrolled-topnav{
    overflow: hidden;
    background-color: rgba(67, 61, 100, 0.95);
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  .header-logo{
    height: 40px;
    width: auto;
  }
  .scrolled-logo{
    height: 40px;
    width: auto;
  }
  #myLinks {
    display: none;
  }
  @media (min-width: 1000px){
    #myLinks{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      align-content: center;
      width: 800px;
      height: 50px;
      position: relative;
      z-index: 6;
      padding: 0px;
      margin: 25px 0px 0px 0px;
    }    
  }
  @media (min-size: 1000px){
    .desktop-navbar{
      color: #fff;
      z-index: 6;
    }    
  }
  .scrolled-topnav #myLinks {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
  }  
  .topnav a {
    color: white;
    padding: 10px 10px 2px 10px;
    text-decoration: none;
    font-size: 2em;
    display: flex;
  }
  @media (min-width: 1000px){
    .topnav a{
      position: relative;
      text-align: center;
      padding: 0px;
      z-index: 6;
      font-size: 1.8em;
    }    
  }
  .scrolled-topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.5em;
    display: flex;
  }  
  .topnav .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: auto;
    z-index: 5;
  }
  @media (min-width: 1000px){
    .topnav .icon{
      display: none;
    }    
  }
  .scrolled-topnav .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: auto;
    z-index: 5;
  }
  #navbar-toggle{
    height: 60px;
    width: auto;
    margin-top: -10px;
    margin-right: -10px;
  }
  .active {
    height: 40px;
    width: auto;
  }
  @media (min-width: 1000px){
    .active{
      margin: 15px 30px 10px 10px;
    }
  }
  .toggle-container{
    margin-right: 12.5px;
    display: flex;
    width: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 1000px){
    .toggle-container{
      display: none;
    }    
  }
  .toggle{
    width: 15px;
    height: 20px;
    display: flex;
    padding-left: -15px;
    transform: rotate(90deg);
  }
  @media (min-width: 1000px){
    .toggle{
      display: none;
    }    
  }
  .dropdown1{
    width: 60vw;
    display: flex;
    padding-bottom: 0%;
  }
  @media (min-width: 1000px){
    .dropdown1{
      width: 114.285px !important;
      z-index: 7;
      justify-content: center;
      align-items: center;
      align-content: center;
    }  
    .dropdown1:hover{
      background-color: rgb(221, 134, 21);
      padding: 5px;
    }
  }
  #deals{
    width: 100%;    
    background-color: rgb(221, 134, 21);
    padding-bottom: 10px;
  }
  @media (min-width: 1000px){
    #deals{
      width: 150px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: 30px;
      margin-top: -5px;
    }
    #deals:hover{
      font-size: 2em;
    }
  }
  .dropdown2{
    font-size: 1.5em !important;
    width: 100vw;
    display: block;
  }
  @media (min-width: 1000px){
    .dropdown2{
      display: none;
      width: auto;
      justify-content: flex-start;
    }    
    .dropdown2:hover{
      background-color: rgb(221, 134, 21);
      padding: 5px 5px 2px 5px;
    }
  }
  .sub-menu{
    background-image: linear-gradient(to bottom, rgba(85,81,94,1), rgba(285,81,94,0));
    width: 100%;
    margin-bottom: 10px;
    z-index: 5;
  }
  @media (min-width: 1000px){
    .sub-menu{
      display: none;
      width: 125px;
      padding: 5px 5px 0px 5px;
      background-image: none;
      background-color: rgb(12, 2, 48);
    }    
  }
  .desktop-nav-hover{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (min-width: 1000px){
    .desktop-nav-hover{
      width: 114.285px;
      justify-content: space-between;
    }
    .desktop-nav-hover:hover .sub-menu{
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }
  #desktop-location{
    display: none;
  }
  @media (min-width: 1250px){
    #desktop-location{
      display: flex;
      flex-direction: row;
      align-content: space-between;
      flex-wrap: nowrap;
      position: absolute;
      margin: 0px;
      z-index: 6;
      right: 5px;
      top: 17.5px;
      font-size: 1em;
      width: 200px;
    }
  }
  #desktop-location-img{
    display: none;
  }
  @media (min-width: 1250px){
    #desktop-location-img{
      display: flex;
      height: 40px;
      width: auto;
      z-index: 6;
    }
  }
  #desktop-navbar-h2{
    display: none;
  }
  @media (min-width: 1250px){
    #desktop-navbar-h2{
      display: flex;
      margin: 0px;
      position: relative;
      left: 10px;
      bottom: 0px;
    }
  }

/* Location Select */

  .location-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 100px 0px 0px 0px;
    padding: 0px;
    flex-wrap: nowrap;
  }
  #location {
    width: 180px;
    margin: 10px 5px 0px 5px;
    border-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
  }
  @media (min-width: 700px){
    #location{
      font-size: 28px;
      margin: 20px 5px 0px 5px;
      width: 300px;
    }
  }
  .location-button{
      width: 140px;
      height: 60px;
      background-color: rgb(221, 134, 21);
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-radius: 3px;
      margin: 30px 0px 0px 0px;
  }
  @media (min-width: 500px){
    .location-button{
      margin: 50px 10px 0px 10px;
    }
  }
  .location-a{
      font-style: "Oswald", sans-serif;
      color: #fff;
      text-decoration: none;
      font-size: 28px;
  }
  .location-a:hover {
      font-size: 30px;
  }

/* Main */

  #main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 100px 0px 0px 0px;
      padding: 0px;
      flex-wrap: nowrap;
  }
  @media (min-width: 600px){
    #main{      
      margin: 200px 0px 0px 0px;
    }
  }
  .main-container{
      height: auto;
      width: 280px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: nowrap;
  }
  @media (min-width: 375px){
    .main-container{
      width: 325px;
    }
  }
  @media (min-width: 400px){
    .main-container{
      width: 375px;
      justify-content: center;
    }
  }
  @media (min-width: 500px){
    .main-container{
      width: 480px;
      justify-content: center;
    }
  }
  .main-image-container{
      height: 75px;
      width: 75px;
      overflow: hidden;
      border-radius: 2px;
  }
  @media (min-width: 375px){
    .main-image-container{
      height: 100px;
      width: 100px;
    }
  }
  @media (min-width: 500px){
    .main-image-container{
      height: 150px;
      width: 150px;
    }
  }
  #main-img{
      height: 75px;
      width: 75px;
  }
  @media (min-width: 375px){
    #main-img{
      height: 100px;
      width: 100px;
    }
  }
  @media (min-width: 500px){
    #main-img{
      height: 150px;
      width: 150px;
    }
  }
  .main-h1-container{
      height: 75px;
      width: 225px;
      display: flex;
      margin: 0px;
      justify-content: center;
      align-items: center;
      align-content: center;
  }
  @media (min-width: 400px){
    .main-h1-container{
      width: 250px;
    }
  }
  @media (min-width: 400px){
    .main-h1-container{
      width: 300px;
    }
  }
  .main-h1{
      font-family: 'Saira Extra Condensed', sans-serif;
      font-size: 36px;
      color: rgb(231, 228, 10);
      margin: -30px 0px 0px 0px;
  }
  @media (min-width: 400px){
    .main-h1{
      margin: 0px 0px 0px 0px;
      font-size: 40px;
    }
  }
  @media (min-width: 500px){
    .main-h1{
      margin: 0px 0px 0px 0px;
      font-size: 50px;
    }
  }

/* VIP Incentives Section */

  .vip-incentives{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }
  @media (min-width: 600px){
    .vip-incentives{
      margin: 10px 0px 0px 0px;
    }
  }
  .vip-h2{
      font-family: 'Permanent Marker', sans-serif;
      background: -webkit-linear-gradient(rgb(241, 148, 8), rgb(248, 53, 4));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 21px;
      width: 100vw;
      text-align: center;
      margin: 0px 5px 0px 5px;
  }
  @media (min-width: 350px){
    .vip-h2{
      font-size: 24px;
    }
  }
  @media (min-width: 400px){
    .vip-h2{
      font-size: 28px;
    }
  }
  @media (min-width: 500px){
    .vip-h2{
      font-size: 34px;
      margin: 20px 5px 0px 5px;

    }
  }
  @media (min-width: 1250px){
    .vip-h2{
      width: 50vw;
    }
  }
  .vip-list-container{
      width: 280px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
      flex-direction: column;
  }
  @media (min-width: 400px){
    .vip-list-container{
      width: 350px;
      margin: 10px 10px 10px 10px;
    }
  }
  @media (min-width: 500px){
    .vip-list-container{
      width: 450px;
    }
  }
  .vip-list{
      font-family: 'Oswald', sans-serif;
      font-size: 20px;
      color: #fff;
      margin-right: 10px;
  }
  @media (min-width: 500px){
    .vip-list{
      font-size: 24px;
      margin: 10px 10px 0px 10px;
    }
  }
  .join-vip-button{
      width: 140px;
      height: 60px;
      background-color: rgb(221, 134, 21);
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-radius: 3px;
      margin-top: 10px;
  }
  @media (min-width: 500px){
    .join-vip-button{
      margin: 20px 10px 10px 10px;
    }
  }
  @media (min-width: 600px){
    .join-vip-button{
      margin: 30px 10px 10px 10px;
    }
  }
  .join-vip-a{
      font-style: "Oswald", sans-serif;
      color: #fff;
      text-decoration: none;
      font-size: 28px;
  }
  .join-vip-a:hover {
      font-size: 30px;
  }

  /* Gift Cards */

  .gift-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 100px 0px 0px 0px;
    padding: 0px;
  }
  @media (min-width: 600px){
    .gift-cards{
      margin: 200px 0px 0px 0px;
    }
  }
  #gift-cards-h2{
    font-family: 'Saira Extra Condensed', sans-serif;
    background: -webkit-linear-gradient(rgb(241, 148, 8), rgb(248, 53, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    width: 100vw;
    text-align: center;
    margin: 0px 5px 0px 5px; 
  }
  @media (min-width: 500px){
    #gift-cards-h2{
      font-size: 50px;
    }
  }
  .gift-cards-h4{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: rgb(231, 228, 10);
    font-size: 24px;
    margin: 0px 0px 0px 0px;   
  }
  @media (min-width: 500px){
    .gift-cards-h4{
      font-size: 40px;
    }
  }

  /* Weekday Deals */

  .weekday-deals{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 100px 0px 0px 0px;
    padding: 0px;
  }
  @media (min-width: 600px){
    .weekday-deals{
      margin: 200px 0px 0px 0px;
    }
  }
  #weekday-deals-h2{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: rgb(211, 63, 26);
    font-size: 40px;   
    margin: 0px 5px 0px 5px;   
  }
  @media (min-width: 500px){
    #weekday-deals-h2{
      font-size: 50px;
    }
  }
  .weekday-deals-div{
      width: 90vw;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      margin: 0px;
      text-align: center;
  }
  .weekday-deals-h4{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: rgb(231, 228, 10);
    font-size: 30px;
    margin: 2.5px;   
  }
  @media (min-width: 500px){
    .weekday-deals-h4{
      font-size: 40px;
    }
  }
  .weekday-deals-p{
      font-family: 'Oswald', sans-serif;
      color: #fff;
      font-size: 22px;
      margin: 2.5px;   
  }
  @media (min-width: 500px){
    .weekday-deals-p{
      font-size: 24px;
    }
  }

/* Every Day Location Deals */

  .every-day-deals{
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 100px 0px 0px 0px;
    padding: 0px;
  }
  @media (min-width: 600px){
    .every-day-deals{
      margin: 200px 0px 0px 0px;
    }
  }
  .every-day-h2{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: rgb(211, 63, 26);
    font-size: 40px;   
    margin: 0px 0px 0px 0px;  
  }
  @media (min-width: 500px){
    .every-day-h2{
      font-size: 50px;
    }
  }
  .every-day-table-container{
      width: 90vw;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
  }
  .every-day-table-div{
      width: auto;
      display: flex;
      justify-content: center;
      align-content: space-between;
      flex-wrap: wrap;
      margin: 5px 5px 5px 15px;

  }
  .every-day-p{
      font-style: "Oswald", sans-serif;
      font-size: 20px;
      color: rgb(231, 228, 10);
      margin: 0px;
  }
  @media (min-width: 300px){
    .every-day-p{
      font-size: 24px;
    }
  }
  @media (min-width: 500px){
    .every-day-p{
      font-size: 26px;
    }
  }
  #deal20{
    color: #fff;
  }
  #deal40{
    color: #fff;
  }
  #deal50{
    color: #fff;
  }
  #deal100{
    color: #fff;
  }
  #deal2{
    color: #fff;
  }
  #deal6{
    color: #fff;
  }
  #deal10{
      color: rgb(230, 96, 34);
  }
  #deal30{
    color: rgb(228, 13, 13);
  }

  /* Bowling Deals */

  .bowling-deals{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 100px 0px 0px 0px;
    padding: 0px;
  }
  @media (min-width: 600px){
    .bowling-deals{
      margin: 200px 0px 0px 0px;
    }
  }
  #bowling-deals-h2{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: rgb(211, 63, 26);
    font-size: 40px;   
    margin: 0px 0px 0px 0px;   
  }
  @media (min-width: 500px){
    #bowling-deals-h2{
      font-size: 50px;
    }
  }
  .bowling-deals-p{
    font-style: "Oswald", sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 0px 10px 20px 10px;
  }
  @media (min-width: 400px){
    .bowling-deals-p{
      max-width: 380px;
    }
  }
  @media (min-width: 500px){
    .bowling-deals-p{
      font-size: 24px;
      max-width: 450px;
    }
  }

  /* Footer */
  
  .info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #fff;
    align-content: center;
    height: 720px;
  }
  @media (min-width: 600px){
    .info{
      margin-top: 80px;
    }
  }
  @media (min-width: 1100px){
    .info{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: rgb(255, 255, 255);
      align-content: center;
      align-items: center;
      height: 280px;
      width: 100vw;
    }
  }
  @media (min-width: 1100px){
    .info{
      margin-top: 100px;
    }
  }
  .footer-column{
    align-self: center;
  }
  @media (min-width: 1100px){
    .footer-column{
      align-self: center;
      align-self: flex-start;
    }
  }
  #footer-logo{
    margin-top: 30px;
  }
  .footer-h4{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
  }
  .footer-p{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
  }
  .footer-a{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #000;
    width: 280px;
    text-align: center;
  }
  .social-media-icons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    height: 63px;
    margin-left: 63px;
    margin-top: 15px;
  }
  #facebook-icon{
    align-self: flex-start;
  }
  #instagram-icon{
    align-self: flex-end;
  }
  #copyright{
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
  }
  .footer-border{
    position: absolute;
    height: 730px;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(to right, rgb(4, 3, 53), rgb(60, 23, 196));
  }
  @media (min-width: 1100px){
    .footer-border{
      height: 290px;
    }
  }